@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme{
    --color-primary:#F84565;
    --color-primary-dull:#D63854;
}  
*{
      font-family: "Outfit", sans-serif;
      scrollbar-width:thin;
      scrollbar-color:#787777 #1e1e1e;
}

body{
    color:white;
    background-color:black;
}
.no_scrollbar {
    display: none;
}

/* Hide scrollbar for webkit browsers */
::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
}

/* Remove number input arrows for webkit browsers */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* Invert color of calendar picker icon for dark mode */
::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
    